/*Controls*/

.sbm4k2 .editor-cell {
    padding: 5px;
    vertical-align: top;
}

@media screen and (max-width: 640px) {
    .mobile .theme-entry .sbm4k2 .tab-box ul.tab-box-tabs a.tab {
        line-height: 3rem;
    }
    .mobile .theme-entry .sbm4k2 li {
        font-size: 1.3rem;
    }
    .mobile .theme-entry .sbm4k2 .panel-body-wrapper>div>table>tbody>tr {
        display: initial!important;
        width: initial!important;
    }
    .mobile .theme-entry .sbm4k2 .panel-body-wrapper>div>table>tbody>tr>td {
        display: initial!important;
        width: initial!important;
    }
    .mobile .theme-entry .sbm4k2 .editor-cell {
        padding-left: 1px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .sbm4k2 .runtime-content .panel table,
    .sbm4k2 .runtime-content .panel tr,
    .sbm4k2 .runtime-content .panel td {
        overflow-x: auto!important;
        display: block;
        width: auto!important;
    }
    .sbm4k2 .runtime-content .filterContainer,
    .sbm4k2 .runtime-content .grid-toolbars {
        /*overflow-x: none;
        display: block;

        width: auto;*/
        display: none;
    }
    .sbm4k2 .runtime-content .panel-header-text,
    .sbm4k2 .runtime-content .grid-header-text,
    .sbm4k2 .runtime-content .theme-entry h1,
    .sbm4k2 .runtime-content .theme-entry h2,
    .sbm4k2 .runtime-content .theme-entry h3,
    .sbm4k2 .runtime-content .theme-entry h4,
    .sbm4k2.theme-entry .grid-header-wrapper .grid-header-text>span,
    .sbm4k2.theme-entry .panel-header-wrapper .panel-header-text>span {
        display: block;
        text-align: center;
        white-space: pre-wrap;
    }
    .sbm4k2 .runtime-content .theme-entry span.SourceCode-Forms-Controls-Web-Label,
    .sbm4k2 .runtime-content .theme-entry .formcontrol div.innerpanel {
        text-align: center;
        width: 100%;
    }
    .sbm4k2 .runtime-content .theme-entry .SFC h4.SourceCode-Forms-Controls-Web-Label {
        text-align: center;
    }


    .sbm4k2 .theme-entry div.input-control.select-box {
        width: calc(100% - 2px)!important;
    }
}

.sbm4k2 .theme-entry .SFC .SourceCode-Forms-Controls-Web-DataLabel {
    background-color: var(--Button-Disabled-Background-Color);
}

.sbm4k2 .theme-entry .SFC .SourceCode-Forms-Controls-Web-TextBox,
.sbm4k2 .theme-entry .input-control.text-input .input-control-m-c {
    background-color: transparent;
}
.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.watermark,
.sbm4k2 .theme-entry .input-control-watermark,
.sbm4k2 .theme-entry .input-control.watermark a.input-control span,
.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox div.listbox-watermark {
    color: var(--Label-Text-Color-3)!important;
    font-family: var(--Main-Font-Family)!important;
    font-size: 1.5rem!important;
    font-weight: normal!important;
    text-decoration: none!important;
    white-space: nowrap;
}
.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.watermark:hover,
.sbm4k2 .theme-entry .input-control-watermark:hover,
.sbm4k2 .theme-entry .input-control.watermark:hover a.input-control span,
.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox:hover div.listbox-watermark {
    color: var(--Label-Hover-Text-Color-1)!important;
    border-radius: 6px;
}
.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox:hover,
.sbm4k2 .theme-entry .SFC .SourceCode-Forms-Controls-Web-ControlPack-ListBox:hover,
.sbm4k2 .theme-entry .input-control.text-input .input-control-m-c:hover,
.sbm4k2 .theme-entry div.input-control.datepicker:hover,
.sbm4k2 .theme-entry div.input-control-buttons:hover,
.sbm4k2 .theme-entry div.input-control.select-box:hover,
.sbm4k2 .sbm4k2 .theme-entry .input-control.select-box .input-control-body:hover,
.sbm4k2 .sbm4k2 .theme-entry .input-control.select-box .input-control:hover,
.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox:hover {
    background-color: var(--Button-Disabled-Background-Color);
    border-radius: 6px;
}


.sbm4k2 .theme-entry tr.edit-template-row .input-control.watermark a.input-control span,
.sbm4k2 .theme-entry tr.edit-template-row .input-control.select-box .input-control-watermark {
    padding-left: 2px;
}

.sbm4k2 .theme-entry .input-control-watermark {
    padding-left: 0px;
}

.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox div.listwrapper.watermark,
.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox .stylewrapper .title,
.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox .stylewrapper {
    background-color: transparent;
}

.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox .stylewrapper .hoverdiv:hover {
    background-color: var(--List-Item-Hover-Background-Color);
    border-radius: 6px;
}

.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox .stylewrapper .hoverdiv.selected {
    background-color: var(--List-Item-Selected-Background-Color);
    border-radius: 6px;
}

.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-ListBox .stylewrapper .hoverdiv:focus {
    border-color: var(--List-Item-Hover-Background-Color);
    border-radius: 6px;
}

.sbm4k2 .theme-entry .input-control.select-box .input-control-m-c,
.sbm4k2 .theme-entry .input-control.select-box.dropdown-box .input-control-buttons,
.sbm4k2 .theme-entry .input-control.select-box.lookup-box.calendar-control.datepicker {
    background-color: var(--Input-Background-Color)!important;
}

.sbm4k2 .theme-entry .input-control.select-box.dropdown-box .input-control-buttons:hover,
.sbm4k2 .theme-entry div.input-control-buttons:hover {
    background-color: var(--Input-Disabled-Background-Color)!important;
    color: var(--Input-Text-Color)!important;
	border-color: transparent!important;
    border: 3px;
    border-radius: 6px;
}
.sbm4k2 .theme-entry .styling-outer-wrapper .input-control-m .input-control-m-c .input-control-wrapper a {
    background-color: var(--Input-Background-Color);
}

.sbm4k2 .theme-entry .input-control.select-box input[type=text] {
    padding-left: 15px;
    padding-right: 15px;
}

.sbm4k2 .theme-entry .control-group-container.input-control.text-input .input-control-m-c {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
}

.sbm4k2 .stack-container .stack div.multi-select-box-list-item label.input-control .input-control-text {
    text-overflow: unset;
}

.sbm4k2 .theme-entry div.input-control.select-box {
    padding: 0px;
    height: 26px;
}

.sbm4k2 .theme-entry .input-control.select-box.double-buttons.picker-input .input-control-m-c,
.sbm4k2 .theme-entry .input-control.select-box.picker-input .input-control-buttons,
.sbm4k2 .theme-entry .dropdown-box.input-control .input-control-wrapper>a,
.sbm4k2 .theme-entry .input-control.select-box.dropdown-box .input-control-buttons {
    height: 100%!important;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border: none !important;
    background-color: var(--Input-Disabled-Background-Color);
}

.sbm4k2 .theme-entry tr.edit-template-row div.input-control.select-box {
    padding: 0px;
    height: 5px;
}

.sbm4k2 .theme-entry tr.edit-template-row .input-control.select-box.double-buttons.picker-input .input-control-m-c,
.sbm4k2 .theme-entry tr.edit-template-row .input-control.select-box.picker-input .input-control-buttons,
.sbm4k2 .theme-entry tr.edit-template-row .dropdown-box.input-control .input-control-wrapper>a,
.sbm4k2 .theme-entry tr.edit-template-row .input-control.select-box.dropdown-box .input-control-buttons {
    height: 100%!important;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.sbm4k2 .theme-entry label.input-control .input-control-text {
    font-family: var(--Main-Font-Family-2);
}
.sbm4k2 .SourceCode-Forms-Controls-Web-ControlPack-AutoComplete .input-control .input-control-m-c {
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

.sbm4k2 .theme-entry .select-box span {
    font-size: 1.4rem;
}

.sbm4k2 .theme-entry tr.edit-template-row .select-box span {
    font-size: 1.4rem;
}
.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox {
    border: none;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.sbm4k2 .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-AutoComplete .input-control.text-input .input-control-wrapper input[type=text] {
    border: none;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}
.sbm4k2 .theme-entry .SFC div.text-input .input-control-watermark {
    border: none;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}

.sbm4k2 .theme-entry .input-control.select-box .input-control-body, 
.sbm4k2 .theme-entry .input-control.select-box .input-control-buttons {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 1px;
    padding-left: 0px;
}

.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox,
.sbm4k2 .theme-entry .SFC .SourceCode-Forms-Controls-Web-ControlPack-ListBox,
.sbm4k2 .theme-entry .input-control.text-input .input-control-m-c,
.sbm4k2 .theme-entry div.input-control.datepicker,
.sbm4k2 .theme-entry div.input-control-buttons,
.sbm4k2 .theme-entry div.input-control.select-box {
    border-radius: 6px;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 0 0 1.5px var(--Input-Text-Color);
    box-sizing: border-box;
    font-size: 1.4rem;
    width: calc(100% - 2px);
    font-family: var(--Main-Font-Family);
}

.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox,
.sbm4k2 .theme-entry .input-control textarea {
    padding-left: 5px;
}

.sbm4k2 .theme-entry div.input-control-buttons {
    box-shadow: none;
    border: none!important;
    background-color: var(--Input-Background-Color)!important;
}

/*.sbm4k2 .theme-entry .SFC .readonly,
.sbm4k2 .theme-entry div.read-only, FOR ALL CONTROLS ONLY*/
.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.readonly, 
.sbm4k2 .theme-entry .input-control .select-box .read-only,
.sbm4k2 .theme-entry .input-control .select-box .dropdown-box .read-only,
.sbm4k2 .theme-entry .input-control.text-input.read-only .input-control-m .input-control-m-c,
.sbm4k2 .theme-entry .input-control.select-box.dropdown-box.read-only .styling-outer-wrapper .input-control-body .input-control-m .input-control-m-c .input-control,
.sbm4k2 .theme-entry .input-control.select-box.dropdown-box.read-only .styling-outer-wrapper .input-control-buttons,
.sbm4k2 .theme-entry .input-control.select-box.lookup-box.read-only .styling-outer-wrapper .input-control-body .input-control-m .input-control-m-c,
.sbm4k2 .theme-entry .input-control.select-box.lookup-box.read-only .styling-outer-wrapper .input-control-buttons,
.sbm4k2 .theme-entry .input-control.select-box.lookup-box.calendar-control.read-only {
    background-color: var(--Input-Disabled-Background-Color)!important;
    color: var(--Input-Text-Color)!important;
}

/*.sbm4k2 .theme-entry .SFC .readonly:hover,
.sbm4k2 .theme-entry div.read-only:hover, FOR ALL CONTROLS ONLY*/
.sbm4k2 .theme-entry .input-control .select-box .read-only:hover,
.sbm4k2 .theme-entry .input-control .select-box .dropdown-box .read-only:hover,
.sbm4k2 .theme-entry .input-control.text-input.read-only .input-control-m .input-control-m-c:hover,
.sbm4k2 .theme-entry .input-control.select-box.dropdown-box.read-only .styling-outer-wrapper .input-control-body .input-control-m .input-control-m-c .input-control:hover,
.sbm4k2 .theme-entry .input-control.select-box.dropdown-box.read-only .styling-outer-wrapper .input-control-buttons:hover,
.sbm4k2 .theme-entry .input-control.select-box.lookup-box.read-only .styling-outer-wrapper .input-control-body .input-control-m .input-control-m-c:hover,
.sbm4k2 .theme-entry .input-control.select-box.lookup-box.read-only .styling-outer-wrapper .input-control-buttons:hover,
.sbm4k2 .theme-entry .input-control.select-box.lookup-box.calendar-control.read-only:hover {
    background-color: var(--Input-Disabled-Background-Color)  !important;
    color: var(--Input-Disabled-Text-Color) !important;
    border-radius: 6px;;
}

.sbm4k2 .theme-entry input[type=text] {
    color: var(--Input-Text-Color);
}

.sbm4k2 div,
.sbm4k2 td,
.sbm4k2 .theme-entry .input-control textarea,
.sbm4k2 .theme-entry input[type=text],
.sbm4k2 .theme-entry .input-control.watermark a.input-control span,
.sbm4k2 .theme-entry .input-control.select-box .input-control-watermark {
    font-size: 1.5rem;
    font-family: var(--Main-Font-Family);
    color: var(--Input-Text-Color);
}

.sbm4k2 tr.edit-template-row div,
.sbm4k2 tr.edit-template-row td,
.sbm4k2 .theme-entry tr.edit-template-row .input-control textarea,
.sbm4k2 .theme-entry tr.edit-template-row input[type=text],
.sbm4k2 .theme-entry tr.edit-template-row .input-control.watermark a.input-control span,
.sbm4k2 .sbm4k2 .theme-entry .input-control.select-box .input-control-body .input-control.select-box .input-control-watermark {
    padding: 0px;
    font-size: 1.4rem;
    font-family: var(--Main-Font-Family);
}


.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.invalid,
.sbm4k2 .theme-entry .input-control.text-input.invalid .input-control-m-c,
.sbm4k2 .theme-entry div.input-control.select-box.invalid {
    border: 2px var(--Input-Error-Border-Color) solid!important;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--Input-Error-Border-Color);
    box-sizing: border-box;
    background-color: var(--Input-Disabled-Background-Color)!important;
}
/*selected item menu icon on hover*/

.sbm4k2 .theme-entry .day.selected, 
.theme-entry .month.selected, 
.theme-entry .year.selected, 
.theme-entry .day.selected:hover, 
.theme-entry .month.selected:hover, 
.theme-entry .year.selected:hover, 
.theme-entry .day.active, 
.theme-entry .month.active, 
.theme-entry .year.active {
    background-color: var(--Calendar-Selected-Item-Background-Color);
    color: var(--Calendar-Selected-Item-Text-Color);
}

.sbm4k2 .theme-entry .input-control-buttons .styling-right .styling-inner-wrapper {
    background-color: none !important;
}

.sbm4k2 .theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-Choice.readonly.displayTypeRadio.read-only,
.sbm4k2 .theme-entry .SFC .SourceCode-Forms-Controls-Web-DataLabel {
    background-color: transparent !important;
}

.sbm4k2 .theme-entry .styling-outer-wrapper .input-control-m, 
.sbm4k2 .theme-entry .styling-outer-wrapper .input-control-m .input-control-m-c, 
.sbm4k2 .theme-entry .styling-outer-wrapper .input-control-m .input-control-m-c .input-control-wrapper, 
.sbm4k2 .theme-entry .styling-outer-wrapper .input-control-m .input-control-m-c .input-control-wrapper input, 
.sbm4k2 .theme-entry .styling-outer-wrapper .input-control-m .input-control-m-c .input-control-wrapper a {
    border-radius: 6px !important;
}

.theme-entry div.picker {
    height: auto;
}