.sbm4k2 .theme-entry .tab-box.numbered .tab-box-body {
    background-color: var(--Form-Background-Color);
    margin-top: 25px;
}

.sbm4k2 .theme-entry .tab-box.tabs-top.numbered ul.tab-box-tabs {
    white-space: nowrap;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 55px;
    left: unset;
    right: unset;
    margin-left: unset;
    margin-right: unset;
    border-bottom: none;
    border-top: none;
    margin-top: 25px;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs li {
    display: table-cell;
    text-align: center;
    height: 100%;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs li a.tab {
    border-right: none;
    background-color: transparent;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab.selected, 
.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab.selected .tab-wrapper {
    border-bottom: none;
    }

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs li a.tab,
.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs li a.tab .tab-wrapper {
    display: block;
    height: 56px;
    padding: 0px;
    cursor: default;
    /* vertical-align: bottom; */
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab:hover,
.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab:hover .tab-wrapper {
    background-color: var(--Form-Background-Color);
    cursor: default;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab.selected,
.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab.selected .tab-wrapper {
    background-color: var(--Form-Background-Color);
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.selected.tab .tab-wrapper,
html .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab.selected:hover .tab-wrapper {
    border: none;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs {
    counter-reset: tab-count;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs li {
    counter-increment: li-count;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs li:before {
    background-color: var(--Tab-Background-Color);
    content: "";
    display: block;
    height: 1px;
    left: calc(100% - 50%);
    pointer-events: none;
    position: relative;
    top: 15px;
    width: calc(100%);
    z-index: -1;
    opacity: 0.4;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs li:last-child:before {
    display: none;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab:before {
    content: counter(li-count) '\00000a';
    width: 32px;
    height: 32px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--Tab-Text-Color-2);
    font-family: var(--Main-Font-Family-2);
    font-weight: 600;
    border: 1px solid var(--Tab-Border-Color);
    border-radius: 50%;
    opacity: 1;
    background-color: var(--Tab-Background-Color);
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab.selected:before {
    opacity: 1;
    background-color: var(--Tab-Selected-Background-Color);
    border: 1px solid var(--Tab-Border-Selected-Color);
    color: var(--Tab-Text-Selected-Color-2);
    /*#c3e9ef*/
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab span.tab-text {
    width: 100%;
    height: 100%;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab .tab-text {
    color: var(--Tab-Text-Color);
    font-weight: 600;
    font-family: var(--Main-Font-Family-2);
    font-size: 1.3rem;
    padding-top: 5px;
    opacity: 0.4;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab.selected .tab-text {
    opacity: 1;
}

.sbm4k2 .theme-entry .tab-box.numbered ul.tab-box-tabs a.tab.selected:hover .tab-text {
    color: var(--Tab-Text-Color);
}

@media screen and (max-width: 640px) {
    .mobile .theme-entry .sbm4k2 .tab-box.numbered ul.tab-box-tabs a.tab {
        line-height: 3rem;
    }
}